.header{
    height: auto; /* Changed from 1fr to auto */
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    background-color: rgba(255, 255, 255, 0.9); /* Changed to a semi-transparent white for better visibility */
}

.menu-container{
    display: flex;
    justify-content: space-between;
}

.menu-button{
    height: 50px;
    width: fit-content;
    margin: 8px;
    background-color: transparent;
    border: none;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Inter', sans-serif;
    color: gray;
}
